body,
html{
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-areas: 
    "header header header header"
    "sidenav main main main"
    "footer footer footer footer"
}

/******* HEADER *******/
.header{
    grid-area: header;
    background-color: gray;
}
.logo-container{
    width: 50px;
    margin: 0 auto;
}
.logo-container img{
    width: 50px;
    height: 50px;
}

/******* SIDENAV *******/
.sidenav{
    grid-area: sidenav;
    background-color: rgb(8, 191, 207);
}
.sidenav a{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 15px;
}

.current{
    background-color: rgb(5, 112, 155);
    color: white;
}

.sidenav a:hover{
    background-color: rgb(15, 6, 99);
    color: white;
}
#user-image-container{
    margin: 20px auto;
    width: 100px;
    height: 100px;
}
#user-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/******* MAIN *******/
.main{
    grid-area: main;
    min-height: 85vh;
}
.content-container{
    margin: 0 auto;
}

#ads-container{
    min-width: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
#ads-box img{
    width: 200px;
    height: 150px;
}
#ads-box{
    /* max-width: 320px; */
    width: 320px;
    box-shadow: 1px 2px 3px gray;
    margin: 30px auto;
    padding: 10px;
    justify-content: center;
    justify-items: center;
}
#ads-box:hover{
    box-shadow: 5px 5px 5px 5px gray;
    cursor: pointer;
}
 #ads-box p{
    font-weight: bold;
}
.update-container input,
.update-container select{
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
}
.update-button{
    padding: 10px 15px;
    background-color: rgb(170, 82, 10);
    color: white;
    border: none;
}
.update-button:hover{
    background-color: rgb(87, 28, 5);
    cursor: pointer;
}
.sold-botton{
    font-weight: bold; 
    color: white;
    background-color: red;
    border: none;
    padding: 10px 15px;
}

.sold-botton:hover{
    background-color: darkred;
    cursor: pointer;
}
.available{
    color: rgb(14, 211, 14);
    font-weight: bold;
}
.sold {
    color: gray;
    border: none;
    padding: 10px 15px;
}
/*** ADMIN ADS DISPLAY AREA***/
.display-area{
    grid-area: display;
    display: flex;
    flex-wrap: wrap;
    min-height: 85vh;
    margin: 10px auto;
}

.display-box{
    width: 200px;
    height: 250px;
    margin: 15px auto;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    margin-right: 8px;
}
.display-box:hover{
    box-shadow: 5px 5px 5px 5px gray;
}

.display-box img{
    width: 100%;
    height: 100px;
}

.display-box p{
    line-height: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display-box button{
    padding: 10px;
    width: 50%;
    border: none;
    background-color: rgb(160, 11, 11);
    color: white;
    font-weight: bold;
}

.display-box button:hover{
    background-color: darkgreen;
    cursor: pointer;
}

/******* FOOTER *******/
.footer{
    grid-area: footer;
    background-color: gray;
    min-height: 2.5rem;
    width: 100%;
}

/**** MOBILE VIEWS ****/
@media(max-width: 620px){
    .container{
        width: 98%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1px;
        grid-template-areas: 
        "header header header header"
        "sidenav sidenav sidenav sidenav"
        "main main main main"
        "footer footer footer footer"
    }
    .sidenav a{
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px;
        font-size: 17px;
    }
    .content-container{
        width: 90%;
    }
    .display-box{
        margin: 10px auto;
    }
}

/** Spinner */
.loader{
    content: '';
    animation: spin .5s linear infinite;
    border: 2px solid white;
    /* display: none; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top-color: black;
    border-bottom-color: black;
    margin: 200px auto;
    transition: all .5s;
}

/** ANIMATIONS */
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg)}
}