/*** GLOBAL STYLES***/
html,body{
    height: 100%;
    box-sizing: border-box;
}

.container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px;
    grid-template-areas:
    "nav nav nav nav"
    "about-section about-section about-section contact-section"
    "showcase showcase showcase showcase"
    "main main main main"
    "article article side side"
    "footer footer footer footer"
}
.button{
    padding: 15px;
    border: none;
    width: 150px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    background-color:rgb(104, 16, 16);
}

/*** NAVIGATION BAR ***/
#toggle{
    display: none;
}
label{
    font-size: 35px;
    display: none;
    width: 35px;
    color: white;
}
.nav{
    grid-area: nav;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(43, 41, 41);
}

label:hover{
    cursor: pointer;
    color: gray;
}

.menu {
    width: 99%;
    line-height: 40px;
    margin: 0 auto;
 
}
.nav .logo-container{
    float: left;
    margin-right: 20px;
}
.logo-container img{
    width: 50px;
    height: 50px;
}
.nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin: 0;
    font-weight: bold;
}

.signup-login-container{
    float: right;
}

.menu a:hover{
    cursor: pointer;
    color: rgb(180, 17, 17);
}
.current{
    border-bottom: 5px solid green;
}

/*** SHOWCASE ***/
.showcase{
    grid-area: showcase;
    background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/car3.jpg) no-repeat 0 -150px;
    background-size: cover;
    text-align: center;
    color: white;
    height: 400px;
}

.showcase h1 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*** MAIN AREA ***/
.main{
    grid-area: main;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding: 20px;
    background-color: rgb(219, 212, 212);
}

.ads-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.each-car-img {
    height: 130px;
    width: 170px;
    margin: 50px 30px;
}

/*** ARTICLE ***/
.article{
    grid-area: article;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    background: rgba(197,13,13,0.85);
    color: white;
}

.article button{
    padding: 10px;
    border: none;
}

.article button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*** SIDE ***/
.side{
    grid-area: side;
    line-height: 30px;
    padding: 20px;
    background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/nissan.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.side h1{
    margin-top: 100px;
}
.side p{
    font-size: 20px;
    font-weight: bold;
}

/*** FOOTER ***/
.footer{
    grid-area: footer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
}

.footer-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.footer-items a{
    text-decoration: none;
    margin: 10px;
    color: white;
}

.footer-items a:hover{
    color: gray;
}

/*****CONTACT *****/
.contact-section{
    grid-area: contact-section;
    padding: 20px;
    text-align: center;
    background-color: rgb(129, 125, 125);
}
.contact-section p{
    font-weight: bold;
    font-size: 20px;
}

/*** ABOUT ***/
.about-section{
    grid-area: about-section; 
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}
.about-section div{
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
.about-section p{
    font-size: 20px;
}
.about-section img{
    width: 250px;
    height: 250px;
}
.about-menu{
    float: right;
}
.about-menu a:hover{
    cursor: pointer;
    color: rgb(87, 31, 31);
    border-bottom: 3px solid rgb(87, 31, 31);;
}

/**** MOBILE VIEW ***/
@media (max-width: 720px) {
    .container{
        width: 100%;
    }
    .container{
        width: 98%;
        min-height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 5px;
        grid-template-areas:
        "nav nav nav nav"
        "about-section about-section about-section about-section"
        "contact-section contact-section contact-section contact-section"
        "showcase showcase showcase showcase"
        "main main main main"
        "article article article article"
        "side side side side"
        "footer footer footer footer";
    }
    .showcase{
        grid-area: showcase;
        background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/car3.jpg) no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
    }
    .each-car-img {
        height: 59px;
        width: 65px;
    }
    .about-section img{
        width: 180px;
        height: 180px;
    }
    .about-menu .current{
        border-left: none;
        border-right: none;
        border-bottom: 5px solid green;
     }
}

@media (max-width: 600px) {
    .menu{
        display: none;
        width: 100%;
    }
    .menu a{
        display: block;
        text-align: center;
        
    }
    .signup-login-container{
        float: none;
    }
    label{
        display: block;
    }
    #toggle:checked + .menu {
        display: block;
        transition: all .5s;
    }
    .menu a:hover{
        cursor: pointer;
        color: rgb(180, 17, 17);
        background-color: rgb(207, 198, 198);
        border-left: 3px solid rgb(180, 17, 17);
        border-right: 3px solid rgb(180, 17, 17);
        border-bottom: none;
    }
    .current{
        border-left: 5px solid green;
        border-right: 5px solid green;
        border-bottom: none;
    }
}

@media(max-width: 420px) {
    .about-section div{
        flex-wrap: wrap;
    }
    .about-section img{
        width: 150px;
        height: 150px;
    }
}

/******* MODAL AND SIGNUP AND LOGIN *********/
.modal{
	background: linear-gradient( rgba(0,0,0, 0.8), rgba(0,0,0,0.8)),url(../images/car3.jpg) no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.closeModal{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 25px;
	float: right;
}

.closeModal:hover,
.closeModal:focus{
	cursor: pointer;
	color:white;
    background: black;
	text-decoration: none;
	border-radius: 50%;
}

.frame-signup{
	margin: 30px auto;
	max-width: 320px;
	background-color: white;
	overflow: hidden;
    border-radius: 5px;
}
.frame-login{
    margin: 100px auto;
	max-width: 320px;
	background-color: white;
	overflow: hidden;
	border-radius: 5px;
}

form input{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	width: 80%;
	margin: 15px auto;
	border: 1px solid rgb(14, 229, 248);
	border-radius: 5px;
	padding: 15px;
}

input::placeholder{
    text-transform: capitalize; 
	color: black;
}

input:hover,
input:focus{
    background-color: rgba(245, 243, 243, 0.87);
    outline: 0;
}

.submit{
	background-color: rgb(93, 218, 240);
	border: none;
	color: white;
    font-weight: bold;
    width: 90%;
}
.submit:hover{
	background-color: rgb(22, 132, 184);
	cursor: pointer;
}

.img-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.img-container{
	margin: 10px auto;
	width: 80px;	
}

.message{
	width: 90%;
	margin: 0 auto 20px;
	text-align: center;
}
.message a{
	color: blue;
	text-decoration: none;
}

.cancel-botton{
	background-color: rgb(179, 24, 31);
	border: none;
	color: white;
    font-weight: bold;
    float: right;
    padding: 15px;
    margin: 0 20px 10px;
}
.cancel-botton:hover,
.cancel-botton:focus{
    background-color: rgb(100, 6, 10);
    cursor: pointer;
    outline: 0;
}

/**** MODAL ANIMATION ****/
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom{
	from {-webkit-transform: scale(0)}
	to {-webkit-animation: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}
