/*** GLOBAL STYLES***/
html,body{
    height: 100%;
    box-sizing: border-box;
}

.container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-areas:
    "nav nav nav nav"
    "about-section about-section about-section contact-section"
    "showcase showcase showcase showcase"
    "main main main main"
    "article article side side"
    "footer footer footer footer"
}
.button{
    padding: 15px;
    border: none;
    width: 150px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    background-color:rgb(104, 16, 16);
}

/*** NAVIGATION BAR ***/
#toggle{
    display: none;
}
label{
    font-size: 35px;
    display: none;
    width: 35px;
    color: white;
}
.nav{
    grid-area: nav;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(43, 41, 41);
}
#nav-hide{
    display: none;
    float: none;
}
label:hover{
    cursor: pointer;
    color: gray;
}

.menu {
    width: 99%;
    line-height: 40px;
    margin: 0 auto;
 
}
.nav .logo-container{
    float: left;
    margin-right: 20px;
}
.logo-container img{
    width: 50px;
    height: 50px;
}
.nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin: 0;
}

.signup-login-container{
    float: right;
}

.dropdown{
    float: right;
    width: 30px;
    margin: 5px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    right: 15px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
}
.dropdown-content a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{ 
    background: black;
    color: white;
}
.dropdown img{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.dropdown img:hover{
    cursor: pointer;
}

.menu a:hover{
    cursor: pointer;
    color: rgb(180, 17, 17);
}
.current{
    border-bottom: 3px solid green;
}

/*** SHOWCASE ***/
.showcase{
    grid-area: showcase;
    background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/car3.jpg) no-repeat 0 -150px;
    background-size: cover;
    text-align: center;
    color: white;
    height: 400px;
}

.showcase h1 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*** MAIN AREA ***/
.main{
    grid-area: main;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding: 20px;
    background-color: rgb(219, 212, 212);
}

.ads-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.each-car-img {
    height: 130px;
    width: 170px;
    margin: 50px 30px;
}

/*** ARTICLE ***/
.article{
    grid-area: article;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    background: rgba(197,13,13,0.85);
    color: white;
}

.article button{
    padding: 10px;
    border: none;
}

.article button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*** SIDE ***/
.side{
    grid-area: side;
    line-height: 30px;
    padding: 20px;
    background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/nissan.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.side h1{
    margin-top: 100px;
}
.side p{
    font-size: 20px;
    font-weight: bold;
}

/*** FOOTER ***/
.footer{
    grid-area: footer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
}

.footer-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.footer-items a{
    text-decoration: none;
    margin: 10px;
    color: white;
}

.footer-items a:hover{
    color: gray;
}

/*****CONTACT *****/
.contact-section{
    grid-area: contact-section;
    padding: 20px;
    text-align: center;
    background-color: rgb(129, 125, 125);
}
.contact-section p{
    font-weight: bold;
    font-size: 20px;
}

/*** ABOUT ***/
.about-section{
    grid-area: about-section; 
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}
.about-section div{
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
.about-section p{
    font-size: 20px;
}
.about-section img{
    width: 250px;
    height: 250px;
}
.about-menu{
    float: right;
}
.about-menu a:hover{
    cursor: pointer;
    color: rgb(87, 31, 31);
}
.contact-section p{
    font-weight: 100;
}

/**** MOBILE VIEW ***/
@media (max-width: 720px) {
    .container{
        width: 100%;
    }
    .container{
        width: 98%;
        min-height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1px;
        grid-template-areas:
        "nav nav nav nav"
        "about-section about-section about-section about-section"
        "contact-section contact-section contact-section contact-section"
        "showcase showcase showcase showcase"
        "main main main main"
        "article article article article"
        "side side side side"
        "footer footer footer footer";
    }
    .showcase{
        grid-area: showcase;
        background: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/car3.jpg) no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
    }
    .each-car-img {
        height: 59px;
        width: 65px;
    }
    .about-section img{
        width: 180px;
        height: 180px;
    }
    .about-menu .current{
        border-left: none;
        border-right: none;
        border-bottom: 5px solid green;
     }
}

@media (max-width: 600px) {
    .menu{
        display: none;
        width: 94%;
        position: absolute; 
        background-color: rgb(43, 41, 41);
    }
    .menu a{
        display: block;
        text-align: center;
        
    }
    .signup-login-container{
        float: none;
    }
    label{
        display: block;
    }
    #toggle:checked + .menu {
        display: block;
        transition: all .5s;
    }
    .menu a:hover{
        cursor: pointer;
        color: rgb(180, 17, 17);
        background-color: rgb(207, 198, 198);
        border-left: 3px solid rgb(180, 17, 17);
        border-right: 3px solid rgb(180, 17, 17);
        border-bottom: none;
    }
    .current{
        border-left: 5px solid green;
        border-right: 5px solid green;
        border-bottom: none;
    }
    #nav-hide{
        display: block;
    }
    .dropdown{
        display: none;
    }
}

@media(max-width: 420px) {
    .about-section div{
        flex-wrap: wrap;
    }
    .about-section img{
        width: 150px;
        height: 150px;
    }
}

/** Spinner */
.loader{
    content: '';
    animation: spin .5s linear infinite;
    border: 2px solid white;
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top-color: rgb(173, 13, 67);
    margin: 20px auto;
    transition: all .5s;
}

/**Spinner animation*/
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg)}
}