/******* MODAL AND SIGNUP AND LOGIN *********/
.modal{
	background: linear-gradient( rgba(0,0,0, 0.8), rgba(0,0,0,0.8)),url(../images/car3.jpg) no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.closeModal{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 25px;
	float: right;
}

.closeModal:hover,
.closeModal:focus{
	cursor: pointer;
	color:white;
    background: black;
	text-decoration: none;
	border-radius: 50%;
}

.frame-signup{
	margin: 30px auto;
	max-width: 320px;
	background-color: white;
	overflow: hidden;
    border-radius: 5px;
}
.frame-login{
    margin: 100px auto;
	max-width: 320px;
	background-color: white;
	overflow: hidden;
	border-radius: 5px;
}

form input{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	width: 90%;
	margin: 15px auto;
	border: 1px solid rgb(14, 229, 248);
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
}

input::placeholder{
    text-transform: capitalize; 
	color: black;
}

input:hover,
input:focus{
    background-color: rgba(245, 243, 243, 0.87);
    outline: 0;
}

.submit{
	background-color: rgb(93, 218, 240);
	border: none;
	color: white;
    font-weight: bold;
}
.submit:hover{
	background-color: rgb(22, 132, 184);
	cursor: pointer;
}

.img-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.img-container{
	margin: 10px auto;
	width: 80px;	
}

.message{
	width: 90%;
	margin: 0 auto 20px;
	text-align: center;
}
.message a{
	color: blue;
	text-decoration: none;
}

.cancel-botton{
	background-color: rgb(179, 24, 31);
	border: none;
	color: white;
    font-weight: bold;
    float: right;
    padding: 15px;
    margin: 0 20px 10px;
}
.cancel-botton:hover,
.cancel-botton:focus{
    background-color: rgb(100, 6, 10);
    cursor: pointer;
    outline: 0;
}

/**** MODAL ANIMATION ****/
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom{
	from {-webkit-transform: scale(0)}
	to {-webkit-animation: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}
